@page
@model Vidhyalaya.Pages_Students.DetailsModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.sex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Dob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Dob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Photo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Photo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Guardian_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Guardian_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Guardian_contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Guardian_contact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Grade.Label)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>
</html>
